@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Heebo;
  background-color: #f6f8f6;

}

html {
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: lightgray;
  box-shadow: #3A3A3A 0px 0px 10px;
  top: 0;
  opacity: 0.8;

}

.nav-toggle {
  display: none;
}


nav,
.nav-links {
  display: flex;

}

nav {
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #1b3d3f;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 0.8rem;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
}

.logo:hover {
  cursor: default;
}

.logo img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.main {
  width: 100%;
  height: 461px;
  align-items: center;
  justify-content: center;
  background-image: url(assets/bgimage.jpg);
  box-shadow: #3A3A3A 0px 0px 10px;

}

h1 {
  text-align: center;
  margin: 50px;
  color: black;
  font-size: 80px;
  padding-top: 140px;
  font-weight: 800;
}

.main p {
  text-align: center;
  font-size: 20px;
  color: #3A3A3A;

}

.codinglang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  padding-bottom: 30px;
  padding-top: 30px;
  box-shadow: #3A3A3A 0px 0px 10px;
  background-color: white;



}

.codinglang img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: 0.5s;
}

.codinglang img:hover {
  transform: scale(1.5);

}

.about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  background-image: url(assets/bgimage3.jpeg);
  box-shadow: #3A3A3A 0px 0px 10px;

}

#aboutimage {
  width: 200px;
  border-radius: 100px;
  padding-top: 50px;
  opacity: 0.8;
}

.about p {
  width: 410px;
  text-align: justify;
}

.about button {
  padding: 10px 20px;
  border-radius: 50px;
  background: #1AE0EC;
  font-size: 20px;
  transition: 0.5s;
  border: none;
  box-shadow: #3A3A3A 0px 0px 10px;

}

.about button a:hover {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}

.about button a {
  color: white;
  transition: 0.5s;

}

.gallery {
  width: 100vw;
  padding-top: 50px;
  box-shadow: #3A3A3A 0px 0px 10px;

  background-color: #f6f8f6;
}

.gallery h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 0 0 8px rgba(79, 172, 254, 0.7), 0 0 12px rgba(0, 242, 254, 0.5);
}

.image-body {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30 10 30 10;
  text-align: center;
  transition: 0.5s;
  box-shadow: #3A3A3A 0px 0px 10px;
  background-color: white;
  border-radius: 20px;
}

.gallery-images {
  display: grid;
  justify-content: space-evenly;
  grid-template-areas:
    '. image1 image2 image3 .'
    '. image4 image5 image6 .';
  gap: 3rem;

}

.gallery-images img {
  width: 300px;
  margin-bottom: 80px;
  border-radius: 20px;
  transition: 0.5s;

}

.card-link {
  text-decoration: none;
  color: black;
  background-color: #1AE0EC;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: #3A3A3A 0px 0px 10px;
}



.gallery-images .image-body:hover {
  transform: scale(1.1);
  box-shadow: #8da09d 0px 0px 15px;
  cursor: pointer;
}

#image1 {
  grid-area: image1;
}

#image2 {
  grid-area: image2;
}

#image3 {
  grid-area: image3;
}

#image4 {
  grid-area: image4;
}

#image5 {
  grid-area: image5;
}

#image6 {
  grid-area: image6;
}

footer {
  margin-top: 100px;

}

.contact-container {
  width: 100vw;
  height: 800px;
  background-color: #3A3A3A;
  box-shadow: #3A3A3A 0px 0px 10px;


}

.contact {

  display: flex;
  justify-content: space-between;
}

.contact-container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  gap: 2rem;

  padding-right: 30px;
  border: 5px solid white;
  width: 30%;
  color: white;
  margin-right: 50px;
  margin-bottom: 80px;
  border-radius: 50px;
  box-shadow: #2fe2c4 0px 0px 15px;
  ;

}

#contactphoto {
  width: 700px;
  z-index: 110;
}

input {
  width: 80%;
  outline: none;
  font-size: 1.5em;
  padding: 0 30px;
  line-height: 40px;
  border-radius: 15px;
  border: 2px solid #f6f8f6;
  background: transparent;
  transition: 0.1s;
  color: white;
}

label {
  font-size: 1.5em;
  color: white;

  margin-left: 30px;
}

textarea {
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 80%;
  background-color: #3A3A3A;
  border: 2px solid white;
  color: white;
}



input:invalid {
  border: 2px solid white;
}

input:valid {
  border: 2px solid green;
}

textarea:focus {
  border: 2px solid green;
  outline: none;
}


.btn {
  padding: 10px 20px;
  border-radius: 50px;
  background: #3A3A3A;
  font-size: 20px;
  transition: 0.5s;
  border: none;
  color: white;
  margin-left: 30px;
  box-shadow: #2fe2c4 0px 0px 10px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hamburger {
  scale: 1.5;
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  position: fixed;
  right: 0.5rem;
  top: 0.1rem;
  z-index: 1001;
  background: none;
  border: none;
  color: #17181b;
}

.bottomline {
  padding-top: 50px;
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #2ae3ec;

}

.bottomline img {
  transition: 0.5;
}

.bottomline .cont {
  text-align: center;
}

.bottomline .cont p {
  padding-top: 30px;

}

.bottomline .cont img:hover {
  scale: 1.1;

}



@media (max-width: 1024px) {


  .nav-links li {
    margin: 16px 0;
  }

  .main h1 {
    font-size: 40px;
    padding-top: 120px;
  }

  .codinglang {
    gap: 2rem;
    flex-wrap: wrap;
    padding: 20px;
  }

  .about p {
    width: 90%;
    padding: 0 20px;
  }

  .gallery-images {
    grid-template-areas:

      'image1 image2'
      'image3 image4'
      'image5 image6';
    padding: 20px;
  }

  .image-body {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  form {
    margin: 20px;
    ;
    width: 90%;
    margin: 0 auto 40px auto;
  }

  #contactphoto {
    width: 30%;

  }

  .bottomline {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    right: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: lightgray;
    width: 100vw;
    text-align: center;
    transition: 0.3s;
    padding: 20px 0;
    opacity: 0.95;
  }

  .nav-toggle:checked~div .nav-links {
    right: 0;
  }

  .nav-links li {
    margin: 16px 0;
  }

  .main h1 {
    font-size: 40px;
    padding-top: 120px;
  }

  .codinglang {
    gap: 2rem;
    flex-wrap: wrap;
    padding: 20px;
  }

  .about p {
    width: 90%;
    padding: 0 20px;
  }

  .gallery-images {
    grid-template-areas:
      'image1'
      'image2'
      'image3'
      'image4'
      'image5'
      'image6';

    padding: 20px;
  }

  .image-body {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  form {
    margin: 20px;
    ;
    width: 90%;
    margin: 0 auto 40px auto;
  }

  #contactphoto {
    width: 30%;
    max-width: 400px;
  }

  .bottomline {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100%;
  }
}